{% extends 'base.html.twig' %}

{% block title %}Panier | {{ parent() }}{% endblock %}

{% block body %}
    <div class="panier">
        <h1>Panier</h1>

        <div class="conteneur">
            {% if panier is not empty %}
                <ul class="articles">
                    {% for ligne in panier %}
                        <li>
                            <div class="article">
                                <a href="{{ path('app_boutique_article', { id: ligne.article.id }) }}" class="image">
                                    {% if ligne.article.image %}
                                        <div class="background" style="background-image: url('{{ asset('images/' ~ ligne.article.image) }}')"></div>
                                    {% else %}
                                        <div class="background" style="background-image: url('{{ asset('images/logotype.png') }}')"></div>
                                    {% endif %}
                                </a>

                                <div class="contenu">
                                    <p><strong>{{ ligne.article.nom }}</strong></p>
                                    <p>{{ ligne.article.description }}</p>
                                    <p>Taille : {{ ligne.taille }}</p>
                                    <p>Quantité : {{ ligne.quantite }}</p>
                                    <p><strong>{{ ligne.sousTotal }} €</strong></p>

                                    <a href="{{ path('app_panier_suppression', { cle: ligne.cle }) }}" class="bouton">Retirer l'article</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <div class="total">
                    <p>Total : {{ total }} €</p>
                </div>
            {% else %}
                <p class="centre">Vous n'avez aucun article dans votre panier.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
