{% extends 'base.html.twig' %}

{% block title %}Panier | {{ parent() }}{% endblock %}

{% block body %}
    <div class="panier width">
        <h1>Panier</h1>

        <div class="flex">
            {% if panier is not empty %}
                <ul class="gap">
                    {% for ligne in panier %}
                        <li>
                            <div class="gap">
                                <a href="{{ path('app_boutique_article', { id: ligne.article.id }) }}" class="image">
                                    {% if ligne.article.image %}
                                        <img src="{{ asset('uploads/' ~ ligne.article.image) }}" alt="{{ ligne.article.nom }}">
                                    {% else %}
                                        <img src="{{ asset('images/logotype.png') }}" alt="Logotype de La Grande Fête">
                                    {% endif %}
                                </a>

                                <div class="flex">
                                    <p><strong>{{ ligne.article.nom }}</strong></p>
                                    <p>{{ ligne.article.description }}</p>

                                    {% if ligne.article.type.nom == 'Vêtement' %}
                                        <p>Taille : {{ ligne.taille }}</p>
                                    {% endif %}
                                    
                                    <p>Quantité : {{ ligne.quantite }}</p>
                                    <p><strong>{{ ligne.sousTotal }} €</strong></p>

                                    <a href="{{ path('app_panier_suppression', { id: ligne.article.id, taille: ligne.taille }) }}" class="bouton">Retirer l'article</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <div class="total">
                    <p>Total : {{ total }} €</p>
                </div>
            {% else %}
                <p class="centre">Vous n'avez aucun article dans votre panier.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
