{% extends 'base.html.twig' %}

{% block title %}Accès administrateur | {{ parent() }}{% endblock %}

{% block body %}
    <a href="{{ path('app_acces_administrateur_articles') }}" class="gap retour width">Retour aux articles</a>

    <div class="formulaire">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button>{{ article.id ? 'Modifier' : 'Créer' }} l'article</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
