{% extends 'base.html.twig' %}

{% block title %}Accès administrateur | {{ parent() }}{% endblock %}

{% block body %}
    <a href="{{ path('app_acces_administrateur_articles_types') }}" class="gap retour width">Retour aux types d'article</a>

    <div class="formulaire">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button>{{ type.id ? 'Modifier' : 'Créer' }} le type</button>
        {{ form_end(form) }}
    </div>
{% endblock %}