{% extends 'base.html.twig' %}

{% block title %}Accès administrateur | {{ parent() }}{% endblock %}

{% block body %}
    <nav>
        <ul>
        {% for ticket in tickets %}
            <li>
                <p>{{ ticket.user.email }}</p>
                <p>{{ ticket.sujet }}</p>
                <p>{{ ticket.message }}</p>
                {% if ticket.statut %}
                    <p>Traité le {{ ticket.statut|date('d/m/Y H:i') }}</p>
                {% else %}
                    <p>En attente d'une réponse</p>
                {% endif %}

                <a href="{{ path('app_administrateur_ticket_modification', { id: ticket.id }) }}">Modifier le ticket</a>

                <form action="{{ path('app_administrateur_ticket_suppression', { id: ticket.id }) }}" method="post" onsubmit="return confirm('Voulez vous vraiment supprimer ce ticket ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete-ticket-' ~ ticket.id) }}">
                    <button>Supprimer le ticket</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    </nav>
{% endblock %}
