{% extends 'base.html.twig' %}

{% block title %}Accès administrateur | {{ parent() }}{% endblock %}

{% block body %}
    <a href="{{ path('app_acces_administrateur') }}" class="gap retour width">Retour à l'accès administrateur</a>

    <div class="liste">
        <ul>
            {% for ticket in tickets %}
                <li>
                    <div class="conteneur">
                        {% if ticket.statut %}
                            <p class="bulle traite">Traité le {{ ticket.statut|date('d/m/Y H:i') }}</p>
                        {% else %}
                            <p class="bulle attente">En attente d'une réponse</p>
                        {% endif %}

                        <p>{{ ticket.user.email }}</p>
                        <p>{{ ticket.sujet }}</p>
                        <p>{{ ticket.message }}</p>
                    </div>

                    <div class="gap" style="justify-content: center;">
                        {% if ticket.statut is null %}
                            <a href="{{ path('app_acces_administrateur_ticket_modification', { id: ticket.id }) }}" class="bouton">Modifier le statut du ticket</a>
                        {% endif %}

                        <form action="{{ path('app_acces_administrateur_ticket_suppression', { id: ticket.id }) }}" method="POST" onsubmit="return confirm('Voulez-vous vraiment supprimer ce ticket ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('suppression-ticket' ~ ticket.id) }}">
                            <button>Supprimer le ticket</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
