{% extends 'base.html.twig' %}

{% block title %}Support | {{ parent() }}{% endblock %}

{% block body %}
    <div class="support">
        <div class="banniere">
            <h1>SUPPORT</h1>
        </div>

        <h2>Nous contacter</h2>
        
        <div class="formulaire">
            {{ form_start(form) }}
                {{ form_row(form.sujet) }}
                {{ form_row(form.message) }}
                <button>Envoyer le ticket</button>
            {{ form_end(form) }}
            
            <p>Un administrateur vous répondra dès que possible par email à l'adresse de votre compte.</p>
        </div>

        {% if app.user %}
            <h2>Vos tickets</h2>

            <div class="liste">
                <ul>
                    {% for ticket in tickets %}
                        <li>
                            <div class="conteneur">
                                <p>{{ ticket.sujet }}</p>
                                <p>{{ ticket.message }}</p>

                                {% if ticket.statut %}
                                    <p class="bulle traite">Traité le {{ ticket.statut|date('d/m/Y H:i') }}</p>
                                {% else %}
                                    <p class="bulle attente">En attente d'une réponse</p>
                                {% endif %}
                            </div>

                            {% if not ticket.statut %}
                                <div class="boutons">
                                    <a href="{{ path('app_support_modification', {id: ticket.id}) }}" class="bouton">Modifier le ticket</a>
                                    
                                    {% if ticket.user == app.user %}
                                        <form method="POST" action="{{ path('app_support_suppression', { id: ticket.id }) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce ticket ?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete-ticket-' ~ ticket.id) }}">
                                            <button>Supprimer le ticket</button>
                                        </form>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
