{% extends 'base.html.twig' %}

{% block title %}Support | {{ parent() }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.sujet) }}
        {{ form_row(form.message) }}
        <button>Envoyer le ticket</button>
    {{ form_end(form) }}

    <ul>
        {% for ticket in tickets %}
            <li>
                <p>{{ ticket.sujet }}</p>
                <p>{{ ticket.message }}</p>
                {% if ticket.statut %}
                    <p>Traité le {{ ticket.statut|date('d/m/Y H:i') }}</p>
                {% else %}
                    <p>En attente d'une réponse</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
