{% extends 'base.html.twig' %}

{% block title %}Modification d'un ticket | {{ parent() }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.sujet) }}
        {{ form_row(form.message) }}
        <button>Modifier le ticket</button>
    {{ form_end(form) }}
{% endblock %}
