{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block body %}
    <div class="accueil">
        <div class="banniere">
            <video autoplay muted loop>
                <source src="{{ asset('videos/accueil.mp4') }}" type="video/mp4">
            </video>
            
            <h1>Bienvenue sur le site de La Grande Fête</h1>
        </div>

        <h2>Les artistes qui seront présents</h2>

        <div class="width flex">
            <button class="gauche" aria-label="Précédent">&#8592;</button>
            <div class="gap">
                <div>
                    <img src="{{ asset('images/string-swing-quartet.jpg') }}" alt="String Swing Quartet">
                    <h3>STRING SWING QUARTET</h3>
                </div>

                <div>
                    <img src="{{ asset('images/guts.jpg') }}" alt="Guts">
                    <h3>GUTS</h3>
                </div>

                <div>
                    <img src="{{ asset('images/sanseverino.jpg') }}" alt="Sanseverino">
                    <h3>SANSEVERINO</h3>
                </div>

                <div>
                    <img src="{{ asset('images/la-yegros.jpg') }}" alt="La Yegros">
                    <h3>LA YEGROS</h3>
                </div>

                <div>
                    <img src="{{ asset('images/les-touffes-kretiennes.jpg') }}" alt="Les Touffes krétiennes">
                    <h3>LES TOUFFES KRÉTIENNES</h3>
                </div>
                
                <div>
                    <img src="{{ asset('images/acousteel-gang.jpg') }}" alt="Acousteel Gang">
                    <h3>ACOUSTEEL GANG</h3>
                </div>
            </div>
            <button class="droite" aria-label="Suivant">&#8594;</button>
        </div>

        <div class="rouge">
            <div class="trait"></div>

            <a href="{{ path('app_boutique') }}">
                <h2>Notre boutique</h2>
            </a>

            <a href="{{ path('app_partenaires') }}">
                <h2>Nos partenaires</h2>
            </a>
        </div>
        
        <h2>Qui sommes-nous ?</h2>

        <div class="width">
            <p>La BIC (Brigade d'Intervention Culturelle) est une équipe de bénévoles passionnés qui organise “La Grande Fête” chaque année au début du mois de Septembre à Ayguemorte Les Graves, un rassemblement festif, culturel et citoyen devenu un incontournable de la rentrée en Gironde.</p>

            <a href="{{ path('app_qui_sommes_nous') }}" class="bouton">En savoir plus</a>
        </div>
    </div>
{% endblock %}
