{% extends 'base.html.twig' %}

{% block title %}Gestion des types | {{ parent() }}{% endblock %}

{% block body %}
    <div class="accesadministrateur">
        <a href="{{ path('app_administrateur_articles_type_ajout') }}" class="bouton ajout">Ajouter un nouveau type d'article</a>

        <div class="liste">
            <ul>
                {% for type in types %}
                    <li>
                        <div class="conteneur">
                            <p>{{ type.nom }}</p>
                        </div>

                        <div class="boutons">
                            <a href="{{ path('app_administrateur_articles_type_modification', { id: type.id }) }}" class="bouton">Modifier le nom du type d'article</a>

                            <form method="post" action="{{ path('app_administrateur_articles_type_suppression', { id: type.id }) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce type ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('suppression-type' ~ type.id) }}">
                                <button>Supprimer le type d'article</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}