{% extends 'base.html.twig' %}

{% block title %}Accès administrateur | {{ parent() }}{% endblock %}

{% block body %}
    <div class="accesadministrateur">
        <div class="boutons">
            <a href="{{ path('app_administrateur_article_ajout') }}" class="bouton espace">Ajouter un nouvel article</a>
            <a href="{{ path('app_administrateur_articles_types') }}" class="bouton espace">Gérer les types d'article</a>
        </div>

        <div class="liste">
            <ul>
                {% for article in articles %}
                    <li>
                        <div class="flex">
                            <div class="image">
                                {% if article.image %}
                                    <div class="background" style="background-image: url('{{ asset('images/' ~ article.image) }}')"></div>
                                {% else %}
                                    <div class="background" style="background-image: url('{{ asset('images/logotype.png') }}')"></div>
                                {% endif %}
                            </div>

                            <div class="conteneur">
                                <p>{{ article.nom }}</p>
                                <p class="bulle">{{ article.prix }} €</p>
                                <p>{{ article.description }}</p>
                                <p>{{ article.type.nom }}</p>
                            </div>
                        </div>

                        <div class="boutons">
                            <a href="{{ path('app_administrateur_article_modification', { id: article.id }) }}" class="bouton">Modifier l'article</a>

                            <form method="post" action="{{ path('app_administrateur_article_suppression', { id: article.id }) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet article ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('suppression-article' ~ article.id) }}">
                                <button>Supprimer l'article</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
