{% extends 'base.html.twig' %}

{% block title %}Boutique | {{ parent() }}{% endblock %}

{% block body %}
    <div class=" boutique ficheproduit">
        <div class="image">
            {% if article.image %}
                <div class="background" style="background-image: url('{{ asset('images/' ~ article.image) }}')"></div>
            {% else %}
                <div class="background" style="background-image: url('{{ asset('images/logotype.png') }}')"></div>
            {% endif %}
        </div>

        <div class="contenu">
            <h1>{{ article.nom }}</h1>
            <p>{{ article.description }}</p>
            <p><strong>{{ article.prix }} €</strong></p>
            <a href="{{ path('app_panier_ajout', { id: article.id }) }}" class="bouton">Ajouter l'article au panier</a>
        </div>
    </div>
{% endblock %}
