{% extends 'base.html.twig' %}

{% block title %}Boutique | {{ parent() }}{% endblock %}

{% block body %}
    <div class="boutique width">
        <a href="{{ path('app_boutique') }}" class="gap retour">Retour à la boutique</a>

        <div class="fiche-produit gap">
            <div class="image">
                {% if article.image %}
                    <img src="{{ asset('uploads/' ~ article.image) }}" alt="{{ article.nom }}">
                {% else %}
                    <img src="{{ asset('images/logotype.png') }}" alt="Logotype de La Grande Fête">
                {% endif %}
            </div>

            <div class="flex">
                <h1>{{ article.nom }}</h1>
                <p>{{ article.description }}</p>
                <p><strong>{{ article.prix }} €</strong></p>

                {% if article.type.nom == 'Vêtement' %}
                    <div class="gap">
                        {% for taille in ['XS', 'S', 'M', 'L', 'XL'] %}
                            <label class="taille">
                                <input type="radio" name="taille" value="{{ taille }}" form="ajout-panier-{{ article.id }}" required>
                                
                                <p>{{ taille }}</p>
                            </label>
                        {% endfor %}
                    </div>
                {% endif %}

                <form id="ajout-panier-{{ article.id }}" action="{{ path('app_panier_ajout', { id: article.id }) }}" method="POST">
                    <button type="submit">Ajouter au panier</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
