<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}La Grande Fête{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://use.typekit.net/bgw0wjp.css">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul class="pages">
                    <li><a href="{{ path('app_accueil') }}" class="logotype"><img src="{{ asset('images/logotype.png') }}" alt="Logotype de La Grande Fête"></a></li>
                    <li><a href="{{ path('app_boutique') }}">Boutique</a></li>
                    <li><a href="{{ path('app_support') }}">Support</a></li>
                </ul>
            </nav>
            
            {% if app.user %}
                <nav>
                    <ul>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('app_administrateur') }}">Accès administrateur</a></li>
                        {% endif %}

                        <li><a href="{{ path('app_panier') }}">Panier</a></li>
                        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    </ul>
                </nav>
            {% else %}
                <nav>
                    <ul>
                        <li><a href="{{ path('app_login') }}">Connexion</a></li>
                        <li><a href="{{ path('app_register') }}">Inscription</a></li>
                    </ul>
                </nav>
            {% endif %}
        </header>
        
        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <img src="{{ asset('images/logotype.png') }}" alt="Logotype de La Grande Fête">

            <nav>
                <ul class="conteneur">
                    <li><a href="{{ path('app_boutique') }}">Boutique</a></li>
                    <li><a href="{{ path('app_support') }}">Support</a></li>

                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('app_administrateur') }}">Accès administrateur</a></li>
                        {% endif %}

                        <li><a href="{{ path('app_panier') }}">Panier</a></li>
                        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">Connexion</a></li>
                        <li><a href="{{ path('app_register') }}">Inscription</a></li>
                    {% endif %}
                </ul>
            </nav>

            <nav>
                <ul class="conteneur">
                    <li><a href="{{ path('app_partenaires') }}">Partenaires</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
