{% extends 'base.html.twig' %}

{% block title %}Accès administrateur | {{ parent() }}{% endblock %}

{% block body %}
    <ul>
        {% for user in users %}
            <li>
                <p>{{ user.email }}</p>
                <p>{{ user.roles|join(', ') }}</p>

                <a href="{{ path('app_administrateur_utilisateur_modification', { id: user.id }) }}">Modifier l'utilisateur</a>

                <form method="post" action="{{ path('app_administrateur_utilisateur_suppression', { id: user.id }) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet utilisateur ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete-user-' ~ user.id) }}">
                    <button>Supprimer l'utilisateur</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
